/*
=========================================================================
                                    General classes
=========================================================================

Note: bootstrap original classes are separated with "-" while my own
classes are separated with "_" for differentiation
*/

$light: #f4f5f6;
$white: #fff;

body, .jumbotron-fluid {
  background-color: $light;
}

.all_height {
  height: 100%;
}

.all_width {
  width: 100%;
}

.debug {
  border: blue 1px solid;
}

a.no_deco {
  text-decoration: none;
}

/*
=========================================================================
                                    NAVBAR Section
=========================================================================
*/


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

}



/*
=========================================================================
                                    Main Section
=========================================================================
*/


/*
=========================================================================
                                    Left Section
=========================================================================
*/

/*
=========================================================================
                                    Right Section
=========================================================================
*/
