/*
=========================================================================
                                    General classes
=========================================================================

Note: bootstrap original classes are separated with "-" while my own
classes are separated with "_" for differentiation
*/

$light: #f9f9f9;
$white: #fff;

.body {
  background: linear-gradient(to bottom, $white 20%, $light);
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.body_default {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_chat {
  background: #fcfcfc;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.all_height {
  height: 100%;
}

.all_width {
  width: 100%;
}

.debug {
  border: blue 1px solid;
}

.text_sm {
  font-size: 0.8rem;
}

.text_xsm {
  font-size: 0.4rem;
}

.offscreen {
  font-size: 0;
  margin: 0;
}

.pad_hor_none {
  padding-right: 0;
  padding-left: 0;
}

.pad_ver_none {
  padding-top: 0;
  padding-bottom: 0;
}

.pad_ver_small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pad_ver_normal {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad_ver_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pad_top_none {
  padding-top: 0;
}

.pad_bottom_none {
  padding-bottom: 0;
}

.pad_bottom_small {
  padding-bottom: 0.5rem;
}

.pad_bottom_normal {
  padding-bottom: 1rem;
}

.pad_bottom_large {
  padding-bottom: 1.5rem;
}

.pad_left_small {
  padding-left: 0.25rem;
}

.mar_hor_small {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mar_hor_normal {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mar_hor_large {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mar_top_small {
  margin-top: 0.5rem;
}

.mar_top_normal {
  margin-top: 1rem;
}

.mar_right_xsmall {
  margin-right: 0.25rem;
}

.mar_right_small {
  margin-right: 0.5rem;
}

.mar_right_normal {
  margin-right: 1rem;
}

.mar_bottom_none {
  margin-bottom: 0;
}

.mar_left_auto {
  margin-left: auto;
}

.mar_bottom_xsmall {
  margin-bottom: 0;
}

.mar_left_xsmall {
  margin-left: 0.25rem;
}

.mar_left_small {
  margin-left: 0.5rem;
}

.mar_left_normal {
  margin-left: 1rem;
}

.flex_1 {
  flex: 1;
}

.flex_1_all {
  flex-grow: 1;
  flex-shrink: 1;
}

.myflex {
  display: flex;
}

.myflex_column {
  display: flex;
  flex-direction: column;
}

.myflex_column_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.myflex_column_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.myflex_justify_center {
  display: flex;
  justify-content: center;
}

.myflex_justify_between {
  display: flex;
  justify-content: space-between;
}

.myflex_justify_between_top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.myflex_justify_between_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myflex_left_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myflex_align_center {
  display: flex;
  align-items: center;
}

.myflex_align_bottom {
  display: flex;
  align-items: flex-end;
}

.selfalign_end {
  align-self: end;
}

@media screen and (min-width: 768px) {
  .body {
    background: $light;
  }

  .shadow_lg_small {
    box-shadow: -3px 3px 22px -5px rgba(200, 200, 200, 0.75);
  }

  .mar_right_large_md {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bottom_hr {
    border-bottom: $light 3px solid;
  }

  .top_hr {
    border-top: $light 3px solid;
  }

  .pad_left_normal_lg {
    padding-left: 1rem;
  }

  .mar_left_small_lg {
    margin-left: 0.5rem;
  }
}

/*
=========================================================================
                                    NAVBAR Section
=========================================================================
*/

.nav_main,
.nav_details {
  padding: 0 1.5rem;
}

.nav_chatpage {
  padding: 1rem 1.5rem;
}

.nav_details {
  display: none;
}

.location_div {
  display: none;

  .btn {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
  }
}

.navbar-brand {
  margin: 0 auto;

  img {
    height: 2.5rem;
  }
}

.icons {
  display: none;

  .fa-user-circle {
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }

  .fa-bell {
    padding: 0 1.5rem;
  }
}

.navbar {
  .fa,
  .far {
    font-size: 1.5rem;
  }

  .fas {
    font-size: 1rem;
  }

  .location {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .nav_details {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .nav_main,
  .nav_details {
    padding: 0 3rem;
  }

  .hamburguer_link,
  .notification_link {
    display: none;
  }

  .location_div {
    display: block;
  }

  .icons {
    display: flex;
  }
}

/*
=========================================================================
                                    Left Section
=========================================================================
*/

.content {
  display: flex;
  padding: 1.5rem;
  margin-top: 0.5rem;
}

.content_details {
  display: flex;
  padding: 0;
  margin-top: 0;
}

.aside {
  flex: 1;
  display: none;
}

.over-container {
  width: 1rem;
  height: 1.4rem;

  .fas {
    top: 0.2rem;
    left: 0;
  }
}

.upper_profile {
  .img_container {
    height: 4rem;
    width: 4rem;
  }

  img {
    object-fit: cover;
  }

  .contain {
    object-fit: contain;
  }
}

.down_profile {
  button {
    flex-grow: 1;
  }
}

.badge {
  padding: 0.5rem 1rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.footer_details {
  display: none;
}

.footer,
.footer_details {
  height: 3.2rem;

  .fas,
  .far {
    font-size: 1.5rem;
  }

  button {
    .fas {
      font-size: 2rem;
    }
  }
}

.myflex_column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .content_details {
    padding: 1.5rem;
    margin-top: 0.5rem;
  }

  .footer_details {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .content,
  .content_details {
    padding: 1.5rem 3rem;
  }

  .aside {
    display: flex;
    flex-direction: column;
  }

  .footer,
  .footer_details {
    display: none;
  }
}

/*
=========================================================================
                                    Main Section-Center
=========================================================================
*/

.main {
  flex: 2;
  height: calc(90vh - 100px);
}

.main_right {
  flex: 2;
  height: 100vh;
}

.center {
  flex: 2;
}

.center_details {
  display: none;
}

.space_images {
  flex-basis: 6rem;
  flex-shrink: 0;
}

#carousel_id {
  height: calc(100% - 9rem);
}

.carousel-indicators {
  top: -5rem;

  li:first-child {
    margin: 0 0.7rem;
    height: 3rem;
    width: 4rem;
    background: url("https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60") center no-repeat;
    background-size: cover;
  }

  li:nth-child(2) {
    margin: 0 0.7rem;
    height: 3rem;
    width: 4rem;
    background: url("https://images.unsplash.com/photo-1568441303064-f0a709a84e49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60") center no-repeat;
    background-size: cover;
  }

  li:nth-child(3) {
    margin: 0 0.7rem;
    height: 3rem;
    width: 4rem;
    background: url("https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60") center no-repeat;
    background-size: cover;
  }

  li:nth-child(4) {
    margin: 0 0.7rem;
    height: 3rem;
    width: 4rem;
    background: url("https://images.unsplash.com/photo-1559387780-2a9a4783f7db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60") center no-repeat;
    background-size: cover;
  }
}

.carousel-caption {
  display: none;
}

.carousel-item {
  .fix_height {
    object-fit: cover;
    object-position: center center;
  }
}

.info {
  display: flex;
  width: 80%;
  left: 10%;
  bottom: 8rem;
}

@media screen and (min-width: 768px) {
  .center_details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #carousel_id {
    height: calc(100% - 5rem);
  }

  .carousel-caption {
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .space_images {
    display: none;
  }

  .main_right {
    flex: 2;
    height: calc(90vh - 100px);
  }

  .info {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .main,
  .main_right {
    flex: 3;
    height: calc(90vh - 40px);
  }
}

@media screen and (min-width: 1400px) {
  .main,
  .main_right {
    flex: 3;
  }
}

/*
=========================================================================
                                    Main Section - Right
=========================================================================
*/

.right,
.big_card,
.person_location,
.location_button,
.person_page {
  display: none;
}

.right_right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upper_card {
  .img_container {
    height: 5rem;
    width: 5rem;
  }

  img {
    object-fit: contain;
  }

  span {
    line-height: 1rem;
  }
}

.the_image {
  background: url("https://images.unsplash.com/photo-1568441303064-f0a709a84e49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60") top no-repeat;
  background-size: cover;
}

.row_to_col_lg {
  display: flex;
}

@media screen and (min-width: 768px) {
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .right,
  .right_right {
    overflow-y: scroll;
  }

  .the_image {
    display: none;
  }

  .person_location {
    display: inline;
  }

  .big_card,
  .location_button {
    display: block;
  }

  .location_button {
    padding: 0.5rem 1rem;
  }

  .person_page {
    display: flex;
    flex-direction: column;
  }

  .row_to_col_lg {
    flex-direction: column;
  }
}

/*
=========================================================================
                                    Chat Menu
=========================================================================
*/

.main_chat {
  flex: 2;
  height: calc(90vh - 100px);
}

.details_chats {
  display: none;
}

.form-control {
  width: auto;
}

.messages_profile {
  flex: 1;
  padding: 0.25rem 1rem;

  .img_container {
    height: 3.5rem;
    width: 3.5rem;
  }

  img {
    object-fit: cover;
  }

  .contain {
    object-fit: contain;
  }
}

.scroll_always {
  overflow-y: scroll;

  a:focus {
    background-color: #4e50b8;
  }
}

.top_hr {
  .btn {
    flex: 1;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .details_chats {
    flex: 2;
    display: flex;
  }
}

@media screen and (min-width: 1400px) {
  .main_chat {
    flex: 3;
  }
}

/*
=========================================================================
                                    Chat Details
=========================================================================
*/

.aside_chatbox,
.bubble_pic {
  display: none;
}

.chat_section {
  flex: 2;
}

.bottom_hr_always {
  .bottom_hr_always {
    border-bottom: $light 3px solid;
  }

  .fa-long-arrow-alt-left {
    font-size: 2rem;
  }

  .fa-circle {
    font-size: 0.4rem;
  }
}

.chat_bubble {
  max-width: 70%;

  .img_container {
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;

    img {
      object-fit: cover;
    }
  }
}

.chat_bubble_me {
  background-color: #e8e7ff;
}

.chat_bubble_you {
  background-color: #f3f3f3;
}

.main_internalchat {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(90vh - 75px);
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

.footer_chat {
  height: 4.8rem;
}

@media screen and (min-width: 768px) {
  .bubble_pic {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .aside_chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
