/*
=========================================================================
                                    General classes
=========================================================================

Note: bootstrap original classes are separated with "-" while my own
classes are separated with "_" for differentiation
*/

$light: #f9f9f9;
$white: #fff;

body {
  background: linear-gradient(to bottom, $white 20%, #ddd);
}

.all_height {
  height: 100%;
}

.all_width {
  width: 100%;
}

.debug {
  border: blue 1px solid;
}

@media screen and (min-width: 1024px) {
  body {
    background: $light;
  }

  .shadow-lg-small {
    box-shadow: -3px 3px 22px -5px rgba(200, 200, 200, 0.75);
  }
}

/*
=========================================================================
                                    NAVBAR Section
=========================================================================
*/

.navbar {
  .navbar-brand {
    img {
      height: 2.5rem;
    }
  }

  .fa,
  .far {
    font-size: 1.5rem;
  }

  .fas {
    font-size: 1rem;
  }

  .location {
    font-size: 0.9rem;
  }

  .icons {
    .fa-user-circle {
      font-size: 1.5rem;
    }
  }
}

/*
=========================================================================
                                    Left Section
=========================================================================
*/

.left {
  flex: 1;
}

.over-container {
  width: 1rem;
  height: 1.4rem;

  .fas {
    top: 0.2rem;
    left: 0;
  }
}

.down_profile {
  button {
    flex-grow: 1;
  }
}

/*
=========================================================================
                                    Main Section
=========================================================================
*/

@media screen and (min-width: 1024px) {
  .main {
    flex: 2;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    flex: 3;
  }
}

/*
=========================================================================
                                    Right Section
=========================================================================
*/
